{% extends './partials/layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="list-group col-1">
            <a href="{{ url_for('main.home') }}"
                class="list-group-item-action text-decoration-none text-secondary my-3 p-2">POSTS</a>
            <a href="{{ url_for('main.learn') }}"
                class="list-group-item-action text-decoration-none text-secondary my-3 p-2">PRACTICE</a>
            <a href="{{ url_for('main.translate_lang') }}"
                class="list-group-item-action text-decoration-none text-secondary my-3 p-2">TRANSLATE</a>
            <a href="{{ url_for('main.explore') }}"
                class="list-group-item-action text-decoration-none text-secondary my-3 p-2 active border border-info"
                style="color: #0c477e!important; background-color: #abd3f8!important;" aria-current="true">EXPLORE</a>
        </div>

        <form class="col" action="{{ url_for('main.home') }}" method="POST">
            <h2 class="text-primary" style="color: #39a408!important;">Socialize:</h2>

            <!-- Viewing Posts -->
            {% for user in users %}
            <p><a href="{{ url_for('main.user', id=user['id']) }}" class="text-primary mb-2 mt-5 text-decoration-none" >{{ user['username'].title() }}:</a>
              {% for post in posts|reverse if post['user_id'] == user.id %}
              <div class="card mb-2">
                <div class="card-header">
                  <h4><a href="{{ url_for('main.post', id=post['id']) }}" class="text-decoration-none">{{ post['title'] }}</a></h4>
                </div>
                <h4 class="card-body text-secondary mb-1">{{ post['body'] }}</h4>
              </div>
              {% else %}
              <p class="mb-2 text-secondary">This user has no posts.</p>
              {% endfor %}
              {% endfor %}

        </form>

    </div>
</div>
{% endblock content %}