{% extends './partials/layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
      <div class="list-group col-1">
        <a href="{{ url_for('main.home') }}" class="list-group-item-action text-decoration-none text-secondary my-3 p-2 rounded-3">POSTS</a>
        <a href="{{ url_for('main.learn') }}" class="list-group-item-action text-decoration-none text-secondary my-3 p-2 rounded-3">PRACTICE</a>
        <a href="{{ url_for('main.translate_lang') }}" class="list-group-item-action text-decoration-none text-secondary my-3 p-2 rounded-3">TRANSLATE</a>
        <a href="{{ url_for('main.explore') }}"
        class="list-group-item-action text-decoration-none text-secondary my-3 p-2">EXPLORE</a>
      </div>

        <form class="col" action="{{ url_for('main.home') }}" method="POST">
            <div class="text-center">
              <h2 class="mb-5 text-dark" style="color: #0853a4!important;">{{ user['username'].title() }}'s Profile</h2>
            </div>

              <!-- Viewing Posts -->
              <div class="mb-5">
                <h3 class="mb-2 text-secondary">{{ user['username'].title() }}'s Posts:</h3>
                {% for post in posts|reverse if post['user_id'] == user['id'] %}
                {% if loop.index <= 5 %}
                <div class="card mb-2">
                  <div class="card-header">
                    <h4><a href="{{ url_for('main.post', id=post['id']) }}" class="text-decoration-none">{{ post['title'] }}</a></h4>
                  </div>
                  <h4 class="card-body text-secondary mb-1">{{ post['body'] }}</h4>
                </div>
                {% endif %}
                {% else %}
                <p class="mb-2 text-secondary">This user has no posts.</p>
                {% endfor %}
              </div>

              <h3 class="mb-2 text-secondary">{{ user['username'].title() }}'s Latest Translations:</h3>
              {% for phrase in phrases|reverse if phrase['user_id'] == user['id'] %}
              {% if loop.index <= 5 %}
              <div class="card mb-2">
                <h4 class="text-secondary ml-5">Translate from {{ phrase['languageOriginal'] }} to {{ phrase['languageTranslated'] }}</h4>
                <div class="card-header">
                  <label style="color:rgb(60, 89, 206)" for="exampleFormControlTextarea1">Original Text</label>
                  <h4 class="text-secondary">{{ phrase['textOriginal'] }}</h4>
                  <label style="color:rgb(60, 89, 206)" for="exampleFormControlTextarea1">Translated Text</label>
                  <h4 class="text-secondary">{{ phrase['textTranslated'] }}</h4>
                </div>
              </div>
              {% endif %}
              {% else %}
              <p class="mb-2 text-secondary">This user has no translations.</p>
              {% endfor %}
            </form>
          </form>
    </div>
</div>

{% endblock content %}